.day-title.MuiTypography-h6 {
  color: $color-black;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}

.title-completedTask.MuiTypography-h6 {
  color: $color-grey;
  font-size: 24px;
  font-weight: 400;
}